<!-- @if (productResources.hasValue()) {
} -->

<h1 class="text-2xl font-bold">Nuevo Producto</h1>
<div class="divider"></div>

<div class="grid grid-cols-1 w-full max-w-5xl place-self-center gap-4">
  <!-- Datos generales -->
  <div class="flex flex-col gap-2">
    <h2 class="text-2xl font-bold h-12">Datos generales</h2>
    <input
      type="text"
      placeholder="Título"
      class="input input-bordered w-full"
    />

    <input type="text" placeholder="Slug" class="input input-bordered w-full" />

    <textarea
      class="textarea textarea-bordered w-full"
      placeholder="Descripción"
      rows="6"
    ></textarea>
    <!-- tags -->
    <input type="text" placeholder="Tags" class="input input-bordered w-full" />

    <!-- Imágenes -->
    <div class="flex flex-col gap-2 justify-center w-full items-center">
      <div class="flex justify-end h-12">
        <button class="btn btn-secondary w-40" type="submit">
          <!-- <span class="loading loading-spinner loading-sm"></span> -->

          Guardar
        </button>
      </div>

      <!-- <product-carousel [images]="productResources.value().data?.image" /> -->

      <input type="file" class="file-input file-input-bordered w-full mt-4" />
    </div>
  </div>
</div>
