<div class="card bg-base-100 w-96 shadow-sm">
  <figure class="">
    <img
      src="https://res.cloudinary.com/projectsspookyd/image/upload/v1741652214/little-ceaser_hg8h6q.jpg"
      alt="Little Ceaser"
      class="object-cover w-96 h-60 object-[30%_30%]"
    />
  </figure>
  <div class="card-body gap-y-4">
    <h1 class="card-title">
      Little Ceaser
      <div class="badge badge-secondary">NEW</div>
    </h1>
    <div class="grid grid-cols-4">
      <p class="col-span-3 pr-4">
        Para comida rapida y para esos dias donde el tiempo extra te lo pagan
        con especie, este lugar es para ti.
      </p>
      <div class="card-actions">
        <button class="btn btn-primary">Mas Detalles</button>
      </div>
    </div>
    <div class="card-actions justify-end">
      <div class="badge badge-outline">Chatarra</div>
      <div class="badge badge-outline">Pizza</div>
    </div>
  </div>
</div>
