<div class="card bg-base-100 min-w-64 shadow-sm h-96">
  <figure class="">
    <img
      [src]="review().images | customImage"
      [alt]="review().title"
      class="object-cover w-full h-60 object-[30%_30%]"
    />
  </figure>
  <div class="card-body gap-y-4 h-[220px]">
    <a class="card-title" [routerLink]="['/store', review().id]">
      <span class="hover:underline">
        {{ review().title }}
      </span>
      <div class="badge badge-secondary">{{ review().badge }}</div>
    </a>
    <p class="pr-4 text-sm leading-4" [title]="review().description">
      {{ review().description }}
    </p>
    <div class="card-actions justify-between">
      <button
        class="btn btn-secondary max-w-28 h-6"
        [routerLink]="['/store', review().id]"
      >
        Mas
      </button>
      <div class="space-x-3">
        @for (tag of review().tags; track tag) {
        <div class="badge badge-outline">{{ tag }}</div>
        }
      </div>
    </div>
  </div>
</div>
